<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Enabling to use thymeleaf expressions -->

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
<title>Employee Directory</title>
</head>

<body>

<div class="container">

	<h3>Employee Directory</h3>
	<hr>

	<!-- Lets add a Add New Employee Button --> <!-- EmployeeController/employees/showFormForAdd -->
	<a th:href="@{/employees/showFormForAdd}" 
		class="btn btn-primary btn-sm mb-3">  <!-- reminder: "@" will redirect to root, slicno kao contextPath u JSP-u -->
		Add New Employee
	</a>
	
	<table class="table table-bordered table-striped">
	
		<thead class="thead-dark">
			<tr>
				<th>First Name</th> <!-- th => table heading -->
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}"> <!-- loop through the collection -->
			
				<td th:text="${tempEmployee.firstName}" /> <!-- display names on each row -->
				<td th:text="${tempEmployee.lastName}" />
				<td th:text="${tempEmployee.email}" />
				<td>
					<!-- lets add Update button/link => EmployeeController/employees/showFormForUpdate-->
					<a th:href = "@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"  
						class="btn btn-info btn-sm"> 											  <!-- line 48:Appends to URL ?employeeId, id selektovanog Employee ce se preneti dalje -->
						Update																	  <!-- id ce se razlikovati u zavisnosti na kog employee kliknemo -->
					</a>																		  <!-- u kontroleru cemo bindovati id da bi pre-populateovali formu -->
																								  <!-- employeeId cemo posle koristiti kroz @RequestParam -->
					
					<!-- lets add Delete button//link => EmployeeController/employees/delete-->
					<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
							class="btn btn-danger btn-sm"
							onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false"> <!-- JavaScript for promtping user to confirm submition -->
					Delete
					</a>
				</td>
			
			</tr>
		</tbody>
		
	
	</table>
	
</div>
</body>
</html>